.carousel.slide img{
    height: 400px;
}

.card.customPro {
    margin: 10px 0;
    padding: 0;
    box-shadow: 0 0 15px -5px;
    transition: 0.3s;
    animation: ease-in;
}

.customPro button{
    text-align: center;
}