.header {
  width: 100%;
  background-color: #E0E0E0;
}
.logo-container {
  display: flex;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.sign-up-button {
  margin-right: 10px; 
}

